// Theme colors
$bg-light: #EDEAE4;



$theme-1:#B5DBE3;
$theme-2:#D9DBBD;
$theme-3:#E3B5BF;
$theme-4:#C7CBD1;



$theme-light: #F2F2F2;
$theme-grey: #cccccc;



$theme-black: rgba(21,21,21,var(--bg-opacity));
$theme-green:#5E898A;
$theme-yellow: #F5D57E;
$theme-pink: #DD9480;
$theme-secondary: #2c003e;
$theme-secondary-light: #512b58;
$theme-primary: #F2AB3C;
$theme-primary-light: #ffa372;
$light-bg: rgba(234, 144, 133, 0.1);
$theme-tertiary: #f2a365;
// General colors
$white: #ffffff;
$black: #151515;
// $light-black: #303138;
// $grey: #949495;
// $light-grey: #949495;
// $blue-to-purple: linear-gradient(90deg, #61dafb 0%, #b06ab3 100%);
// $light-blue: #61dafb;
// $light-purple: #b06ab3;

$text-dark: $theme-black;
$text-light: #666666;
