// @font-face {
//   font-family: "Hoefler Text";
//   src: url("../assets/fonts/Hoefler-Text.ttf") format("ttf");
// }

// @font-face {
//   font-family: "Hoefler Text";
//   src: url("../assets/fonts/Hoefler-Text.ttf") format("ttf");
//   font-style: italic;
//   font-weight: 400;
// }


@font-face {
  font-family: 'Söhne';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Sohne/Söhne-Buch.otf') format('otf');
}

@font-face {
  font-family: 'Söhne';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Sohne/Söhne-Kräftig.otf') format('otf');
}

@font-face {
  font-family: 'Söhne';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Sohne/Söhne-Halbfett.otf') format('otf');
}

@font-face {
  font-family: 'Söhne';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Sohne/Söhne-Dreiviertelfett.otf') format('otf');
}
